.form-new-post {
    margin: 20px auto;
    width: 50%;
    background-color: rgb(173, 213, 154);
    border-radius: 20px;
    padding: 20px;
}

.page-heading {
    text-align: center;
    margin-top: 20px;
}

.new-post-body-textarea {
    height: 200px;
}

.new-post-title {
    margin: 10px 0px;
}

.new-post-upload {
    margin: 10px 0px;
    display: flex;
}

.card-img-top {
    margin: 0px 10px;
}

.new-post-category {
    margin: 10px 0px;
}

.new-post-tags {
    margin: 10px 0px;
}

label {
    margin-right: 5px;
}

.upload-btn {
    height: 36px;
    width: 250px;
}